*{
    margin: 0;
    padding: 0;
    font-family: "poppins",sans-serif;
    box-sizing: border-box;
}
.card-img-top
{
    border-radius: 70%;

}

.foot-cont{
    margin: 2%;
    text-align: center;
    padding: 2% ;
}
.iconss
{  color: black;
    margin: 2%;
    text-align: center;
    padding: 2% ;
    
}
.iconss:hover
{
color: yellow;
}