
*{
    
    margin: 0px;
    padding: 0;
    box-sizing: border-box; 
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    overflow-x: hidden;
    background-color: blanchedalmond;
}


.navigation_bar{
    width: 100%;
    height: 100vh;
    padding: 0 8%;
    background-image: url(admiakg.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

}
nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.nav-links
{
    padding: 28px 0;
}
.nav-links li{
    display: inline-block;
    margin: 0 15px;
}
.nav-links li a{
    text-decoration: none;
    color: aliceblue;
    padding: 5px 0;
    position: relative;
}
.nav-links li a::after{
    content: '';
    background: rgb(219, 91, 59);
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
    
}
.nav-links li a:hover::after{
    width: 100%;
}

.dropdown-menu{
    background-color: grey;
    text-align: center;
}

 p
{
    text-align: center;
    font-family: 'Montserrat';
    padding: 5%;
    font-size: 1rem;

}
h3
{
    text-align: center;
    
    padding: 5%;
}
.akgskills
{
    padding: 5%;
}
.hostell
{ 
    padding-top: 12%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%; 
    border-radius: 10%;
}

.btn1{
    display: inline-block;
    margin-top: .6rem;
    padding-right: 2rem ;
    padding-left: 2rem;
    border-radius: 6rem;
    background:var(--red);
    color:#fff;
    overflow: hidden;
    position: relative;
    z-index: 0;
    font-size: 1.7rem;
    text-align: center;
}

.btn1::before{
    content:'';
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background:#444;
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    transition:.3s linear;
}

.btn1:hover::before{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.contact_us
{
    padding: 7%;
    margin-top: 3% ;
    margin-bottom: 3%;
}

footer
{
  margin-top: 7%;  
    padding-top: 5%;
    text-align: center;
    background-color: grey;
}
.fab,.fas
{
    padding-left: 5%;
    padding-right: 5%;
}
.fab:hover
{
    color: ivory;
}
.fas:hover
{
    color: ivory;
}

input
{
    border-radius: 100%;
}
.form
{  margin-left: 10%;
    background-color: ivory;
    border-radius: 10%;
    padding: 3%;
}
.facilities
{
    margin: 7% 0% 7% 0%;
    background-color: ivory;
}

.info
{ border-radius: 10%;
    margin-left: 50px;
    background-color: ivory;  
}
table{
    text-align: center;
}

@media (max-width: 720px)
{
    .form,.info
    {
        margin-top: 10%;
        margin-right: 10%;
        margin-bottom: 5% ;
        padding: 3%;
    }
    
    .akgskills
    {
        width: 300px;
       margin-left: 17%;
       border-radius: 15px;
    }
    .hostell
    {
        width: 300px;
margin-left: 8%;
       border-radius: 15px;
    }

}


.info,.form
{
    box-shadow: 10px 10px 7px 3px #909090;
}


.cardz
{
    box-shadow: 7px 7px 5px 3px #909090 ;
    text-align: center;
    transition: 0.3s;
    border-radius: 10px;
    background-color: #909090;
    
    
}

.alumni1
{
    border-radius: 10px;
}


.btn2
{
    position: relative;
    top: 300px;
    left: 500px;
    background-color: brown;
}